{% extends('pages/home/home.html.twig') %}

{% block additional %}
    {% if lasttests is defined and lasttests is not empty%}
        <h2>
            Новые тесты
        </h2>
        {% for test in lasttests  %}
            <div class="row border-bottom mb-2">
                <div class="col-md-3">
                    <a class="nounderline" href="{{ path('test.view', {id: test.id}) }}">
                        <img src="{{ asset(''~test.image) }}" class="rounded mx-auto d-block mb-2 max-height-200 max-width-200" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <a class="link-success nounderline" href="{{ path('test.view', {id: test.id}) }}">
                        <h5>
                            {{ test.name }}
                        </h5>
                    </a>
                    <p>
                        {{ test.description|length > 255 ? test.description|slice(0, 255) ~ '...' : test.description }}
                    </p>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-warning d-block max-rounded px-5 my-1" href="{{ path('test.pass', {id:test.id}) }}">
                        Пройти
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}