{% extends('content.html.twig') %}

{% block content %}
    <h1 class="text-center">
        Все тесты
    </h1>
    {% if tests is defined and tests is not empty %}
        <div class="container bg-light mb-3">
            {% for test in tests %}
                <div class="row border-bottom mb-2">
                    <div class="col-md-3">
                        <a class="nounderline" href="{{ path('test.view', {id: test.id}) }}">
                            <img src="{{ asset(''~test.image) }}" class="rounded mx-auto d-block mb-2 max-height-200 max-width-200" alt="">
                        </a>
                    </div>
                    {% if has_access %}
                        <div class="col-md-7">
                            <a class="link-warning nounderline" href="{{ path('test.view', {id: test.id}) }}">
                                <h5>
                                    {{ test.name }}
                                </h5>
                            </a>
                            <p>
                                {{ test.description|length > 255 ? test.description|slice(0, 255) ~ '...' : test.description }}
                            </p>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-warning d-block max-rounded px-5 my-1" href="{{ path('test.update', {id:test.id}) }}">
                                Изменить
                            </a>
                            <a class="btn btn-danger d-block max-rounded px-5 my-1" href="{{ path('test.delete', {id:test.id}) }}">
                                Удалить
                            </a>
                        </div>
                    {% elseif is_child %}
                        <div class="col-md-7">
                            <a class="link-warning nounderline" href="{{ path('test.view', {id: test.id}) }}">
                                <h5>
                                    {{ test.name }}
                                </h5>
                            </a>
                            <p>
                                {{ test.description|length > 255 ? test.description|slice(0, 255) ~ '...' : test.description }}
                            </p>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-warning d-block max-rounded px-5 my-1" href="{{ path('test.pass', {id:test.id}) }}">
                                Пройти
                            </a>
                        </div>
                    {% else %}
                        <div class="col-md-9">
                            <a class="link-warning nounderline" href="{{ path('test.view', {id: test.id}) }}">
                                <h5>
                                    {{ test.name }}
                                </h5>
                            </a>
                            <p>
                                {{ test.description|length > 255 ? test.description|slice(0, 255) ~ '...' : test.description }}
                            </p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            <nav aria-label="...">
                <ul class="pagination">
                    {% if test_page > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path(currentRoute, currentQuery|merge({'tpage':test_page-1})) }}" tabindex="-1">
                                <
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="{{ path(currentRoute, currentQuery|merge({'tpage':test_page-1})) }}">{{ test_page-1 }}</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link disabled" tabindex="-1">
                                <
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item active">
                        <a class="page-link" href="">{{ test_page }}</a>
                    </li>
                    {% if test_page != test_pages %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path(currentRoute, currentQuery|merge({'tpage':test_page+1})) }}">{{ test_page+1 }}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="{{ path(currentRoute, currentQuery|merge({'tpage':test_page+1})) }}">
                                >
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">
                                >
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% else %}
        <div class="d-flex justify-content-center">
            <div class="bg-warning text-wrap my-3 py-1 px-2 max-rounded">
                Пока еще не создано ни одного теста.
            </div>
        </div>
    {% endif %}

    {% if has_access %}
        <div class="container d-flex justify-content-center">
            <a class="btn btn-warning d-block max-rounded px-5 my-2" href="{{ path('test.create') }}">
                Создать новый тест
            </a>
        </div>
    {% endif %}
{% endblock %}