{% extends('content.html.twig') %}

{% block content %}
    <h1 class="text-center">
        Предметы
    </h1>
    {% if disciplines is defined and disciplines is not empty %}
        <div class="container-fluid d-flex flex-wrap justify-content-center">
            {% for discipline in disciplines %}
                <div class="mx-2">
                    <div class="text-center">
                        <a href="{{ path('discipline.view', {id:discipline.id}) }}">
                            <img width="100" height="100" src="{{ asset(''~discipline.image) }}" alt="">
                        </a>
                    </div>
                    <div class="my-2 text-center">
                        <a class="nounderline link-warning" href="{{ path('discipline.view', {id:discipline.id}) }}">
                            {{ discipline.name }}
                        </a>
                        {% if has_access %}
                            <a class="btn btn-warning d-block max-rounded px-5 my-1" href="{{ path('discipline.update', {id:discipline.id}) }}">
                                Изменить
                            </a>
                            <a class="btn btn-danger d-block max-rounded px-5 my-1" href="{{ path('discipline.delete', {id:discipline.id}) }}">
                                Удалить
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            <nav aria-label="...">
                <ul class="pagination">
                    {% if discipline_page > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path(currentRoute, currentQuery|merge({'dpage':discipline_page-1})) }}" tabindex="-1">
                                <
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="{{ path(currentRoute, currentQuery|merge({'dpage':discipline_page-1})) }}">{{ discipline_page-1 }}</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link disabled" tabindex="-1">
                                <
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item active">
                        <a class="page-link" href="">{{ discipline_page }}</a>
                    </li>
                    {% if discipline_page != discipline_pages %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path(currentRoute, currentQuery|merge({'dpage':discipline_page+1})) }}">{{ discipline_page+1 }}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="{{ path(currentRoute, currentQuery|merge({'dpage':discipline_page+1})) }}">
                                >
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">
                                >
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% else %}
        <div class="d-flex justify-content-center">
            <div class="bg-warning text-wrap my-3 py-1 px-2 max-rounded">
                В системе еще нет ни одного предмета.
            </div>
        </div>
    {% endif %}

    {% if has_access %}
       <div class="container d-flex justify-content-center">
           <a class="btn btn-warning d-block max-rounded px-5 my-2" href="{{ path('discipline.create') }}">
               Добавить новый предмет
           </a>
       </div>
    {% endif %}
{% endblock %}